@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 21em;
    height: 21em;
    border-radius: 2em;

    padding: 1em;
}

h1 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 0.25em;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    padding: 0.25em;
}

.card {
    font-family: "Outfit", sans-serif;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
    max-width: 21em;
    width: 21em;
    height: 30em;
}

@media screen and (max-width: 375px) {
    .left .main .right {
        width: 50%;
    }
}