@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

html, body {
    background-color: hsl(212, 45%, 89%);
    width: auto;
    height: auto;
}

h3 {
    font-weight: 700;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    padding: 1.5em;
}

h1 {
    font-size: 1.5em;
}

img {
    width: 100%;
    padding: 1.3em;
    border-radius: 2em;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;

    transform: translateY(42.5%);
}

.box {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    width: 20em;
    max-width: 20em;
}

@media screen and (max-width: 375px) {
    .left, .main, .right {
      width: 50%;
    }
  }